/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    box-sizing: border-box;
}

body {
    background-color: #fffaf4;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: franklin-gothic-urw, sans-serif;
    font-size: 15px;
    color: #464646;
}

.container {
    width: 960px;
    height: 100%;
    margin: 0;
    padding: 0 80px;
}

/*Side bar with navigation*/
header {
    background-color: #fffaf4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 0;
    height: 48px;
}

nav {
    height: 100%;
    display: inline;
}

.navigation {
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 48px;
}

#logo {
    height: 24px;
    margin: 12px 21px 12px 0;
    display: inline-block;
    list-style: none;
    line-height: 48px;
    float: left;
}

.nav-item {
    display: inline;
    margin: 0 13px;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 300;
    list-style: none;
    line-height: 48px;
}

a, a:visited {
    text-decoration: none;
    color: #4365e2;
    opacity: 0.7;
    transition: .21s;
}

    a:hover, a:active {
        color: #4365e2;
        text-decoration: none;
        opacity: 1;
        transition: .21s;
    }

/*End of sidebar*/

/*Main*/
main {
    width: 100%;
    height: 100%;
}

section {
    width: 80%;
    margin: auto;
    padding: 9vh 0;
    transition: 0.21s;
    height: 100%;
}

section2{

}

h1 {
    color: #4365e2;
    margin: 0;
    font-weight: 800;
    font-size: 84px;
    line-height: 84px;
    box-sizing: none;
}

h2 {
    color: #4365e2;
    margin: 0;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    box-sizing: none;
}


p {
    color: #464646;
}

/*form {
    margin: 13px 0 21px;
}*/

label {
    display: block;
    font-size: 15px;
    color: #464646;
    margin: 13px 0;
}

input {
    display: block;
}

button {
    border: none;
    background: none;
    color: #ff6264;
    font-size: 15px;
    font-weight: 500;
    padding: 13px 21px 13px 0;
    transition: 0.21s;
}

    button:hover, button:focus {
        background: #f4cec3;
        padding: 13px 21px;
        border: none;
        outline: none;
    }

    button:active {
        transform: translateY(5px);
    }

/*End of main*/

/*Footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 48px;
}

#footer {
    margin: 0;
    line-height: 48px;
}

/*End of footer*/
