/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

* {
    box-sizing: border-box;
}

body {
    background-color: #fffaf4;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: franklin-gothic-urw, sans-serif;
    font-size: 15px;
    color: #464646;
}

.container {
    width: 960px;
    height: 100%;
    margin: auto;
    /*    background-color: #FFFFFF;*/
    padding: 0 80px;
    margin-bottom: 21vh;
}

/*Side bar with navigation*/
header {
    background-color: #fffaf4;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 0;
    height: 48px;
    z-index:210;
}

nav {
    height: 100%;
    display: inline;
}

.navigation {
    height: 100%;
    padding: 0;
    margin: 0;
    line-height: 48px;
}

#logo {
    height: 24px;
    margin: 12px 21px 12px 0;
    display: inline-block;
    list-style: none;
    line-height: 48px;
    float: left;
}

.nav-item {
    display: inline;
    margin: 0 13px;
    font-family: franklin-gothic-urw, sans-serif;
    font-weight: 300;
    list-style: none;
    line-height: 48px;
}

/*End of sidebar*/

/*Main*/
main {
    width: 100%;
    height: 100%;
}

section {
    padding: 21vh 0 0;
    transition: 0.21s;
    min-height: 100vh;
    height: 100%;
}

    section:nth-child(even) {
        background-color: #464646;
        color: #fffaf4;
    }

        section:nth-child(even) div h1 {
            color: #fffaf4;
        }

.flex {
    margin: 13px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-left {
    margin: 13px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

a.card, a.card:visited {
    display: block;
    flex: 1 1 210px;
    margin: 7px;
    padding: 0;
    background-size: cover;
    color: #fffaf4;
}

    a.card:hover, a.card:focus {
        display: block;
        flex: 1 1 210px;
        margin: 7px;
        padding: 0;
        color: #fffaf4;
        box-shadow: 0 4px 8px 0 #46464633, 0 6px 20px 0 #46464630;
        /*        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    }

    a.card:active {
        transform: translateY(5px);
    }

form.card, form.card:focus:not(.focus-visible), a.card-user, a.card-user:visited {
    opacity: 0.7;
    border: none;
    display: grid;
    outline: none;
    background-color: #ddd9d6;
    place-items: center;
    flex: 1 1 210px;
    margin: 7px;
    padding: 0;
    color: #fffaf4;
    transition: 0.21s;
    box-shadow: none;
}

   form.card:hover, form.card:focus, a.card-user:hover, a.card-user:focus {
        display: grid;
        opacity: 1;
        border: none;
        outline: none;
        place-items: center;
        flex: 1 1 210px;
        margin: 7px;
        padding: 0;
        color: #fffaf4;
        transition: 0.21s;
        box-shadow: 0 4px 8px 0 #46464633, 0 6px 20px 0 #46464630;
        /*        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    }

form.card:active, a.card-user:active {
    transform: translateY(5px);
}

.section {
    margin-bottom:5px;
}

.questions {
    margin-bottom: 13px;
}

button.card {
    width: 100%;
    height: 100%;
    border: inherit;
    outline: inherit;
    opacity: inherit;
    color: inherit;
    background-color:inherit;
}

.card-user article {
    display: grid;
    place-items: center;
}

.card h1 {
    color: #fffaf4;
}

article {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.card article .title {
    font-size: 30px;
    line-height: 30px;
    max-width: 210px;
    width: 100%;
    height: 30px;
    padding: 0 21px;
    margin: 21px 0 103px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card article .authors {
    width: 100%;
    max-width: 210px;
    color: #fffaf4;
    height: 36px;
    padding: 0 21px;
    margin: 21px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-user {

}

.img {
    flex: 1 1 210px;
    padding: 157px 0;
    margin: 7px;
    background-size: cover;
    box-shadow: 0 4px 8px 0 #46464633, 0 6px 20px 0 #46464630;
}

.description { 
    flex: 1 1 210px;
    margin: 7px;
}

h1 {
    color: #4365e2;
    margin: 0;
    font-weight: 800;
    font-size: 84px;
    line-height: 84px;
    text-transform: capitalize;
}

p {
    color: #464646;
}

.required {
    color: #ff6264;
}

a, a:visited {
    opacity: 0.7;
    transition: .21s;
    text-decoration: none;
    color: #4365e2;
}

    a:hover, a:active {
        opacity: 1;
        transition: .21s;
        text-decoration: none;
        color: #4365e2;
    }

/*form {
    margin: 13px 0 21px;
}*/

label {
    display: inline-block;
    font-size: 15px;
    color: #464646;
    margin-top: 13px;
}
input {
    display: inline-block;
    margin: 0 7px;
    margin-top: 13px;
}

.btn, .btn:visited {
    border: none;
    background: none;
    color: #ff6264;
    font-size: 15px;
    font-weight: 500;
    padding: 13px 21px 13px 0;
    transition: 0.21s;
    cursor: pointer;
}

    .btn:hover, .btn:focus {
        background: #f4cec3;
        padding: 13px 21px;
        color: #ff6264;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .btn:active {
        transform: translateY(5px);
        cursor: pointer;
    }

/*End of main*/

/*Footer*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 48px;
    background-color: #fffaf4;
}

#footer {
    margin: 0;
    line-height: 48px;
}

/*End of footer*/
