@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    
    Layout = "_LayoutOut";
}

<section>
    <div class="container">
        <h1>Home</h1>
        <p>Why the fuck ain't this working</p>
    </div>
</section>  