@page
@model Test.Pages.Admin.IndexModel
@using Test.Pages
@{
    Layout = "_AdminLayout.cshtml";
}j

<section>
    <div class="container">
        <h2>Researcher Home</h2>
        <p>Welcome to the researcher portal at the University of Dundee! </p>
        <br />
        <p>Forgive the mess, we are still under construction. :)</p>
    </div>
</section>

