@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section>
    <div class="container">
        <h2>Home</h2>
        <p>Welcome to the University of Dundee's questionnaire portal. </p>
        <p>If you are a participant, please follow the link that was sent to your e-mail.</p>
        <p>If you are a researcher, you can login using the link above.</p>
    </div>
</section>  