@page
@model Test.Pages.QuestionnaireModel
@{
    ViewData["Title"] = "Questionnaire Page";
}

<div class="text-center">
    <h1 class="display-4">Make a New Questionnaire</h1>
    <p>The button below will send the answers to these questions to the database.</p>
</div>


<!-- some stuff from here on out taken from https://www.w3schools.com/howto/default.asp -->
<!-- to get the author and questionnaire's name-->
<hr>
<div>
    <form method="post">
<div class="form-group">
    <label for="comment">What is the meaning of 42?</label>
    <textarea class="form-control" rows="5" id="answer1txt" asp-for="answer1" input type="text"></textarea>
</div>


<div class="form-group">
    <label for="comment">Would you eat spaghetti with crickets?</label>
    <textarea class="form-control" rows="5" id="answer2txt" asp-for="answer2" input type="text"></textarea>
</div>

<div><button class="btn btn-primary btn-lg">Submit</button></div>
        </form>
</div>

</hr>

