@page
@model Test.Pages.ProjectsModel
@{
}

<section>
    <div class="container">
        <h1>Projects</h1>
        <div class="flex">
            @foreach (var project in Model.projects)
            {
                <a class="nav-link text-dark" asp-area="" asp-page="/Project?id=@project.id">
                    <article class="card">
                        <h2>@project.title</h2>
                        <h3>@project.description</h3>
                        <h5>@project.authorId</h5>
                        <p>@project.coAuthorIds</p>
                    </article>
                </a>
            }
        </div>
    </div>
</section>